.cards-grid-config-dashboard {

    &__label {
        display: inline-block;
        width: 10%;
    }

    &__input {
        margin-left: 10px;
        margin-right: 10px;
        width: 20%;
    }

    &__set {
        
    }
}
