.cards-grid-config-dashboard {

    min-width: 700px;

    &__label {
        display: inline-block;
        width: 160px;
    }

    &__input-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        width: 25%;
        min-width: 260px;
        display: inline-block;
    }

    &__input {
        width: 100%;
        display: inline-block;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__profile-manager {
        margin-top: 30px;
    }
}
