$space-between: 7px;

@mixin header3 {
    text-align: center;
    display: flex;
    width: 100%;

    &__left {
        display: inline-block;
        flex: 1;
        flex-basis: 25%;

        & > :not(:last-child) {
            margin-right: $space-between;
        }
    }

    &__center {
        display: inline-block;
        flex: 1;
        flex-basis: 50%;

        & > :not(:last-child) {
            margin-right: $space-between;
        }
    }

    &__right {
        display: inline-block;
        flex: 1;
        flex-basis: 25%;

        & > :not(:last-child) {
            margin-right: $space-between;
        }
    }    
}
