.cards-grid {
    display: flex;
    flex-wrap: wrap;

    &__control-header {
        width: 100%;
        text-align: center;
        display: flex;
    }

    &__top-error-box {
        flex: 1;
        width: 100%;
        text-align: center;
        background-color: #FFBABA;
        flex-basis: 99%;
    }

    &__header-left {
        flex: 1;
        width: 25%;
        text-align: left;
        padding-left: 20px;
    }
    
    &__header-center {
        flex: 1;
        width: 49.5%;
        text-align: center;
    }

    &__header-right {
        flex: 1;
        width: 25%;
        text-align: right;
        padding-right: 20px;
    }
}

.card-display {

    flex: 1;
    max-width: 300px;
    min-width: 250px;
    max-height: 300px;
    min-height: 300px;
    margin: 5px;
    padding: 5px;
    background-color: #f4eeff;
    text-align: center;
    white-space: wrap;
    border-radius: 3px 3px 0 0;
    box-shadow:  0px 0px 3px 0px rgba(0,0,0,0.75);

    &__title {
        margin-bottom: 5px;
        padding: 2px;
        background-color: #a6b1e1;
        border-radius: 7px;
        font-weight: 600;
    }

    &__body {

    }
    
}
