.display-card {

    margin-bottom: 250px;

    &__content {
        min-width: 600px;
        max-width: 1000px;
        width: 70%;
        margin: 25px auto;
    }

    &__history {
        min-width: 600px;
        max-width: 1000px;
        width: 70%;
        margin: 25px auto;
    }

    &__header {
        text-align: center;
    }

    &__title {
        text-align: center;
        padding: 10px;
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.25em;
        font-weight: 600;
    }

    &__id {
        background-color: $color-primary-dark;
        color: $color-white;
        padding: 5px 10px;
        margin: 20px;
        display: inline-block;
        border-radius: 3px;
        box-shadow: 1px 1px 2.5px $color-black;
    }
    
    &__body {
        background-color: $color-primary-lighter;
        min-height: 400px;
        padding: 20px;
    }

    &__extra-info-box {
    }

    &__extra-info-label {
        font-style: italic;
        width: 50%;
        display: inline-block;
        padding: 0 0px;
        box-sizing: border-box;
        font-size: 0.8em;
        &--right {
            text-align: right;
        }
        &--left {
            text-align: left;
        }
    }

    &__footer {
        background-color: $color-primary-lighter;
        padding: 15px 0;
        text-align: center;
        line-height: 1.5;
    }

    &__tag {
        background-color: $color-primary-light;
        padding: 5px 10px;
        margin: 0px 10px;
        letter-spacing: 1px;
        border: 1px solid $color-primary;
        border-radius: 2px;
        font-size: 0.9em;
        font-weight: 600;
    }
    
}
