.find-card {

    &__title-wrapper {
        text-align: center;
    }

    &__form-wrapper {
        padding-top: 50px;
        width: 200px;
        margin: 0px auto;
    }

    &__submit-wrapper {
        width: 100%;
        text-align: center;
    }
}
