.loading-wrapper {
    position: absolute;
    background-color: rgba($color-white, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 9999;

    &__spinner-box {
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -0%);
    }
}
