// https://flatuicolors.com/palette/us

// 
// Colors
//
// $color-primary-lighter: ;
$color-primary-lighter: #d9e8f8;
$color-primary-light: #73c2fb;
$color-primary: #192bc2;
$color-primary-dark: #002366;
$color-primary-darker: #00004d;

$color-bad: red;
$color-good: green;

$color-white: #ecf0f1;

//
// Spaces
//
$margin-smaller: 5px;
$margin-small: 10px;
