@import "variables";
@import "mixins/header";
@import "mixins/clear-button";

@import "login-view";
@import "utils";
@import "forms";
@import "error-message-box";
@import "loading-wrapper";
@import "header";
@import "cards-grid";
@import "cards-grid/config-dashboard";
@import "new-card";
@import "good-message-box";
@import "edit-card";
@import "tags-input";
@import "textarea-input";
@import "reset";
@import "dialog";
@import "action-dispatcher";
@import "hydra";

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 1250px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.title {
    font-size: 1.25em;
}

.small-box {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
    box-shadow:  0px 0px 2.5px 1px;
    background-color: #e6e6e6;
}

// A css class that "resets" button styling
.clear-button {
    @include clear-button;
}

.u-color-good {
    color: green;
}

.u-center {
    text-align: center;
}

#app {
    margin-left: 10px;
}
