@import "field-update-displayer";

.card-history-displayer {

    table.MuiTable-root {
        table-layout: fixed;
    }

    &__event-displayer {
        display: flex;
        :not(:last-child) {
            margin-right: 20px;
        }
    }

}
